* {
  padding: 0;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

@media (max-width: 900px) {
  #OrderNumber {
    font-size: 20px;
  }
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

//========================Header======================//

#header {
  .container {
    padding: 0;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    max-width: 90vw;
    margin: 0 auto;
  }
  .logo {
    width: 100px;
  }

  .search-botton {
    padding: 100px;
  }
  .menu {
    padding: 0px;
    padding-left: 20px;
    background-color: #000 !important;
    a {
      color: #fff;
    }
    a:hover {
      color: #999;
    }
  }
}

#search {
  .form-control {
    border-radius: 25px;
  }
}

#main {
  .body {
    max-width: 90vw;
  }
}
